<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Это твоя жизнь</title>
</head>
<body>
<hr>
<p align="center">Личная страница <a th:utext="${name}"/></p>
<hr/>

<table cellspacing="5" border="5" align="center">
    <tr>
        <td>
            Информация о пользователе:<br/>
        </td>
    </tr>
    <tr>
        <td>
            Name: <a th:utext="${name}"/> <br/>
            Login: <a th:utext="${login}"/> <br/>
            Password: <a th:utext="${password}"/> <br/>
        </td>
    </tr>
</table>


<center>
    <form action="/logout" method="get">
        <input type="submit" value="Выйти"/>
    </form>
</center>
</body>
</html>
