<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Twitter Bootstrap Example</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->

<!--    &lt;!&ndash; See configuration in WebMvConfig.java &ndash;&gt;-->
<!--    <link th:href="@{/bootstrap/css/bootstrap.min.css}"-->
<!--          rel="stylesheet" media="screen"/>-->
<!--    <link th:href="@{css/adminPage.css}" rel="stylesheet">-->


<!--    <script th:src="@{/jquery/jquery.min.js}"></script>-->
<!--    <script th:src="@{/popper/popper.min.js}"></script>-->
<!--    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Project name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!--                <a class="nav-link" href="/">Home</a>-->
            </li>
            <li class="nav-item">
                <!--                <a class="nav-link" href="/admin">Admin</a>-->
            </li>
            <li class="nav-item ">
                <!--                <a class="nav-link" href="/user">User</a>-->
            </li>
            <li class="nav-item ">
                <!--                <a class="nav-link" href="/login">login</a>-->
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--</body>-->
<!--</html>-->