<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавляем нового пользователя</title>
</head>
<body>

<hr>
<p align="center">Добавляем нового пользователя</p>
<hr/>

<br>
<center>
    <form action="/admin/users/add" method="post">

        Имя:<input type="text" name="name"/>
        Логин:<input type="text" name="login"/>
        Пароль:<input type="password" name="password"/>
        Права:
        <select name="selectRoles" multiple>
            <a th:each="role :${simpleRoles}">
                <option th:utext="${role.nameRole}"></option>
            </a>
        </select>
        <br>
        <br>

        <input type="submit" value="Добавить"/>
    </form>

    <form action="/" method="get">
        <input type="submit" value="Отмена"/>
    </form>

</center>
</body>
</html>