<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Удалить пользователя</title>
</head>
<body>
<hr>
<p align="center">Удалить пользователя ?</p>
<hr/>
<!--th:object="${requestScope.login}"-->
<br>
<center>
    <form action="/admin/users/delete" method="post">
        <input type="hidden" name="id" th:value="${id}"/>
        <input type="hidden" name="action" value="delete"/>
        <input type="submit" value="Ок"/>
    </form>
    <form action="/" method="get">
        <input type="submit" value="Отмена"/>
    </form>
</center>
</body>
</html>